{% extends "base.html" %}
{% block title %} Add Category {% endblock title %}
{% block content %}

<div class="row">
  <div class="col col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
    <div class="row mt-4">
      <div class="col">
        <div class="card shadow-lg">
          <div class="card-body">
            <form action="/categories/add/" method="post">
              {% csrf_token %}
              <div class="row mt-3">
                <div class="col">
                  <h3 class="text-center">Add Category</h3>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <div class="mb-3">
                    <label for="name" class="form-label">Category name</label>
                    <input required autofocus type="text" class="form-control" id="name" name="name" aria-describedby="categoryName">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button type="submit" class="btn btn-success w-100">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
